@import (reference) '@libs/style/library.less';

.ui-footer {
    --ui-footer-background: #161F2C;
    --ui-footer-title: #fff;
    --ui-footer-desc: #7286A6;
    --ui-footer-nav: #7E96BC;
    --ui-footer-border: rgba(114, 134, 166, .1);

    background-color: var(--ui-footer-background);

    section {
        box-sizing: border-box;
        width: 100%;
        max-width: 1490px;
        margin: 0 auto;
        padding: 0 20px;
    }

    &_assume {
        padding: 30px 0;
        border-top: 1px solid var(--ui-footer-border);

        span {
            .setFlex(center, center);

            .setFont(16px, 20px, var(--ui-footer-title));

            box-sizing: border-box;
            width: 41px;
            height: $width;
            border: 3px solid #02996A;
            border-radius: 50%;
        }
    }

    &_copyright {
        .setFont(12px, 18px, var(--ui-footer-desc));

        padding-bottom: 70px;
    }
}