@import (reference) '@libs/style/library.less';

.ui-footer {
    &_nav {
        padding: 50px 0;

        section {
            .setFlex(space-between, flex-start);
        }

        article {
            display: flex;
            width: 100%;

            dl {
                box-sizing: border-box;
                width: 25%;
                max-width: 280px;
                padding-right: 20px;
            }

            dt,
            dd {
                white-space: nowrap;
            }

            dt {
                .setFont(16px, 20px, var(--ui-footer-title), 700);

                margin-bottom: 24px;
            }

            dd {
                .setEllipsis();

                .setFont(14px, 20px, var(--ui-footer-title));

                margin-bottom: 10px;
                color: var(--ui-footer-nav);
                font-size: 14px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        aside {
            min-width: 240px;

            h3 {
                .setFont(16px, 20px, var(--ui-footer-title), 700);
            }
        }
    }

    &_app {
        .setFlex(flex-start, center);

        margin-top: 18px;

        li {
            position: relative;
            margin-right: 14px;

            & > svg {
                cursor: pointer;
                width: 38px;
                height: 38px;
            }

            & > div {
                display: none;
            }

            &:hover > div {
                display: block;
            }
        }
    }

    &_QRCode {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        bottom: -120px;
        transform: translateX(-50%);
        width: 106px;
        height: 106px;
        padding: 10px;
        border-radius: 6px;
        background-color: #202c3c;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        &::before {
            .setPseudo();

            top: 0;
            left: 50%;
            transform: translate(-50%, -100%);
            width: 0;
            height: 0;
            border-bottom: 5px solid #202c3c;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }


    }
}