@import (reference) '@libs/style/library.less';

.affiliate .affiliate-advantage {
    .setFlex(center, center, column);
    
    padding: 80px 0;

    h3 {
        .setFont(30px, 42px, var(--font-title-color), 700);

        .smallScreen({
            font-size: 48px;
            line-height: 68px;
        });
    }

    div {
        box-sizing: border-box;
        max-width: 1120px;
        margin: 50px auto 0;
        padding: 0 20px;

        .smallScreen({
            overflow: auto;
            width: 100%;
            max-width: none;
            margin-top: 80px;
        });
    }

    table {
        width: 100%;

        .smallScreen({
            width: 2640px;
        });
    }

    th {
        .setFont(16px, 22px, var(--font-title-color));

        padding: 10px;
        background-color: var(--table-header-background);
        text-align: center;
        word-wrap:break-word;
        white-space: pre-line;

        .smallScreen({
            padding: 15px;
            font-size: 24px;
            line-height: 34px;
        });
    }

    td {
        .setFont(16px, 22px, var(--font-title-color));

        padding: 10px;
        border-top: 2px solid var(--background-color);
        border-right: 2px solid var(--background-color);
        background-color: var(--table-body-background);
        text-align: center;
        word-wrap:break-word;

        .smallScreen({
            padding: 15px;
            font-size: 22px;
            line-height: 32px;
        });

        &:last-child {
            border-right: none;
        }
    }

    span {
        .setFont(12px, 18px, #FF4646);

        .smallScreen({
            font-size: 18px;
            line-height: 26px;
        });
    }

    strong {
        .setFont(12px, 18px, var(--font-title-color));

        .smallScreen({
            font-size: 18px;
            line-height: 26px;
        });
    }

    svg {
        margin: 0 auto;

        .smallScreen({
            width: 30px;
            height: 22px;

            &.advantage-icon_no {
                width: 22px;
            }
        });
    }
}