@import (reference) '@libs/style/library.less';

.affiliate .affiliate-commission {
    background-color: var(--section-background);

    div {
        .setFlex(space-between, center);

        max-width: 1120px;
        margin: 0 auto;
        padding: 80px 0;

        .mediumScreen({
            .setFlex(flex-end, center, column-reverse);

            padding: 80px 20px;
        });

        .smallScreen({
            .setFlex(flex-end, center, column-reverse);

            padding: 80px 35px;
        });
    }

    aside {
        .setFlex(space-between, center);

        flex-wrap: wrap;
        width: 500px;
        min-width: 500px;

        .mediumScreen({
            margin-top: 40px;
        });

        .smallScreen({
            width: 100%;
            margin-top: 35px;
        });

        dl {
            .setFlex(space-between, center, column);

            .setBorderRadius(var(--pc-box-radius));

            box-sizing: border-box;
            width: 160px;
            min-width: 160px;
            height: 160px;
            margin: 5px 0;
            padding: 20px 10px 10px;

            .smallScreen({
                width: 226px;
                min-width: 226px;
                height: 226px;
                padding: 30px 20px 10px;
            });
            
            &:nth-child(odd) {
                background-color: var(--commission-box-dark);

                dd {
                    background-color: var(--commission-circle-dark);
                }
            }

            &:nth-child(even) {
                background-color: var(--commission-box-light);

                dd {
                    background-color: var(--commission-circle-light);
                }
            }
        }

        dt {
            .setFont(15px, 25px, var(--font-desc-color), 700);

            .smallScreen({
                font-size: 22px;
                line-height: 32px;
            });
        }

        dd {
            position: relative;
            width: 80px;
            height: 80px;
            border-radius: 50%;

            .smallScreen({
                width: 120px;
                height: 120px;
            });

            img {
                position: absolute;
                left: 50%;
                top: 50%;

                &.commission-icon1{
                    transform: translate(-50%, -40%);

                    .smallScreen({
                        width: 144px;
                        height: 132px;
                    });
                }

                &.commission-icon2{
                    transform: translate(-66%, -32%);

                    .smallScreen({
                        width: 146px;
                        height: 152px;
                    });
                }

                &.commission-icon3{
                    transform: translate(-50%, -38%);

                    .smallScreen({
                        width: 108px;
                        height: 112px;
                    });
                }

                &.commission-icon4{
                    transform: translate(-50%, -44%);

                    .smallScreen({
                        width: 156px;
                        height: 158px;
                    });
                }

                &.commission-icon5{
                    transform: translate(-50%, -38%);

                    .smallScreen({
                        width: 124px;
                        height: 124px;
                    });
                }

                &.commission-icon6{
                    transform: translate(-50%, -42%);

                    .smallScreen({
                        width: 120px;
                        height: 180px;
                    });
                }
            }
        }
    }

    article {
        max-width: 500px;

        .mediumScreen({
            width: 100%;
            max-width: none;
        });

        .smallScreen({
            width: 100%;
            max-width: none;
        });

        h3 {
            .setFont(30px, 42px, var(--font-title-color), 700);

            .smallScreen({
                font-size: 48px;
                line-height: 68px;
            });
        }

        ul {
            margin-top: 20px;

            .smallScreen({
                margin-top: 32px;
            });
        }

        li {
            .setFont(15px, 26px, var(--font-desc-color));

            position: relative;
            padding-left: 10px;

            .smallScreen({
                font-size: 24px;
                line-height: 42px;
            });

            &::before {
                .setPseudo();

                position: absolute;
                left: 3px;
                top: 12px;
                width: 2px;
                height: 2px;
                border-radius: 50%;
                background-color: currentColor;

                .smallScreen({
                    top: 18px;
                    width: 4px;
                    height: 4px;
                });
            }
        }

        span {
            color: var(--font-highlight-color);
        }
    }
}