body {
    font-size: .3rem;
    list-style: .4rem;
}

#root p {
    color: #00ff00;
    width: 97%;
}

#root p .redbox {
    background-color: #ff0000;
    color: #000000;
}

.widget {
    border-radius: 4px;
    padding: 2em;
    background-color: red;
    color: white;
    transform: translateY(10px);
}